<div class="header">
	<h3 class="text-muted">tsuru architecture</h3>
</div>

<div class="row">
	<div class="group">
		<div class="component">
			<span>mysql</span>
		</div>
		<div class="component">
			<span>mongodb</span>
		</div>
		<div class="component">
			<span>elastic search</span>
		</div>
		<div class="component">
			<span>elastic etc</span>
		</div>
	</div>

	<div class="group">
		<div class="component">
			<span>api</span>
			<span>collector</span>
		</div>
		<div class="component">
			<span>api</span>
		</div>
	</div>

	<div class="group">
		<div class="component">
			<span>gandalf</span>
		</div>
		<div class="component">
			<span>gandalf</span>
		</div>
	</div>
</div>
